version: '1.1'

services:
  app:
    build: .
    ports:
      - '3000:3000'
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USERNAME: server
      DB_PASSWORD: server
      DB_NAME: server
    depends_on:
      - db

  db:
    image: postgres
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: server
      POSTGRES_PASSWORD: server
      POSTGRES_DB: server
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
